<div class="jumbotron">
	<h1>Welcome to The World of ComicFighting</h1>
  <p>...</p>
  <p><%= link_to "Sign Up Now",new_user_registration_path,class: "btn btn-primary btn-lg" ,role: "button"%></a></p>
</div>

<p>There are currently <%= @users.count %> registered users</p>
<p>There are currently <%= @characters.count %>  charcters</p>
<p>There are currently <%= @tournaments.count %> tournaments </p>
<p>There are currently <%= @battles.count%> battles

