<h1>Listing tournaments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.name %></td>
        <%if tournament.state %>
          <td>Started</td>
        <%else%>
          <td>Recruiting</td>
        <%end%>
        <td><%= link_to 'Show', tournament %></td>

        <%if current_user%>
          <%if current_user.admin%>
            <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
            <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if current_user%>
  <%if current_user.admin%>
    <%= link_to 'New Tournament', new_tournament_path %>
  <%end%>
<%end%>
