<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @character.user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Race:</strong>
  <%= @character.race %>
</p>
____________________________________________________________________________________________________________________________________________
<% if @charasheets %>
  <% @charasheets.each do |charasheet|%>

    <%= image_tag charasheet.sheet_url(:normal).to_s %>

    <p>
      <strong>Title:</strong>
      <%= charasheet.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= charasheet.description %>
    </p>

  <%end%>
<%else%>
  <p>There are currently no Character Sheet</p>
<%end%>

<h2><%=link_to "Add a character sheet", new_character_sheet_path(:character_id => @character.id)%></h2>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
