<p id="notice"><%= notice %></p>

<p>
  <strong>Character:</strong>
  <%= @character_sheet.character_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @character_sheet.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @character_sheet.description %>
</p>

<%= image_tag @character_sheet.sheet.to_s %>

<h2><%=link_to "create character sheet", character_path(@character_sheet.character)%></h2>

<%= link_to 'Edit', edit_character_sheet_path(@character_sheet) %> |
<%= link_to 'Back', character_sheets_path %>
